/*
	Start Hashthat!
*/
/*
	Variables
*/
body { background: #e3f3fa; }

/*
	Header
*/
.navbar-default { background: #d03a3a; }

.navbar-default .navbar-brand { color: white; }

.header-search .search-input { width: 400px; }

.main { background: white; margin-top: 60px; }

.details-page h1 { color: #404040; font-size: 1.6em; }
.details-page .definition-container { background: #EBEBEB; padding: 20px 0; overflow: hidden; }
.details-page .hash-name { color: #d03a3a; font-size: 1.4em; margin: 0 0 10px 15px; }
.details-page .hash-definition { margin: 0 0 0 30px; font-size: 1.2em; }
.details-page .img-thumbnail { width: 40px; height: 40px; padding: 2px; }
.details-page .user-link { color: #19558d; font-weight: bold; font-size: 11px; }
.details-page .tab-content { background: white; border: 1px solid #DDDDDD; border-top: none; font-size: .9em; }
.details-page .tab-content #facebook { padding: 20px; }
.details-page .tab-content #twitter { padding: 20px; }
.details-page .tab-content #instagram-images { padding: 20px; }

#twitter .tweets { padding: 0 0 20px 0; border-bottom: 1px solid #eee; }
#twitter ul { list-style: none; padding: 0; margin: 0; }
#twitter ul .tweet-image-link { float: left; width: 50px; height: 50px; display: inline-block; float: left; }
#twitter ul .tweet-image { width: 50px; height: 50px; }
#twitter .tweet-container { padding: 0 0 0 70px; }
#twitter .tweet-container h3 { font-size: 1.4em; color: #0088CC; font-weight: bold; }
#twitter .tweet-container p { font-size: 12px; }
#twitter .load-more { margin: 0 auto; width: 100px; }

#comments { padding: 20px; }
#comments ul { list-style: none; padding: 0; margin: 0; }
#comments .media { background: whitesmoke; padding: 5px; margin: 3px 0 0 0; }
#comments .media-object { width: 40px; height: 40px; }
#comments .media-heading { font-size: 14px; }
#comments .media-body { font-size: 12px; }
#comments .media-body .comment-author { font-weight: bold; }
#comments .comment-time { padding: 5px 0; font-size: 11px; color: #858585; }
#comments .comment-like { font-size: 11px; margin: 0 0 0 10px; }

.vote-container { position: relative; }
.vote-container .vote-up { position: absolute; top: 0px; display: block; }
.vote-container .vote-up:hover { text-decoration: none; cursor: pointer; }
.vote-container .vote-count { font-size: 19px; position: absolute; top: 15px; display: inline-block; margin: 0 auto; }
.vote-container .vote-down { position: absolute; top: 40px; }
.vote-container .vote-down:hover { text-decoration: none; cursor: pointer; }

.add-meaning h2 { font-size: 1em; }
.add-meaning .hash-name { color: #d03a3a; font-size: .9em; }
.add-meaning .meaning-text-area { width: 300px; box-shadow: 0 0 0 10px #f4f2f2; border: 1px solid #a9a9a9; margin: 20px 0 0 20px; }
.add-meaning .add-meaning-btn { margin: 20px 0 0 20px; padding: 5px 20px; }

.detail-sidebar h1 { font-size: 1em; }
.detail-sidebar ul { padding: 0; margin: 0 0 0 10px; }
.detail-sidebar ul li { list-style: none; }
.detail-sidebar ul li a { color: #d03a3a; font-size: .9em; }

.other-sources-tabs { margin: 20px 0 0 0; }
.other-sources-tabs li { font-size: .8em; }

.definition-tabs li > a { color: #858585; background: #f3f3f3; }

.other-meaning-tabs { padding: 0; margin: 0; }
.other-meaning-tabs li { list-style: none; padding: 0; margin: 0; }
.other-meaning-tabs p { font-size: 1.3em; padding: 0; margin: 20px 0 0 30px; }

.user-link-other { color: #19558d; font-weight: bold; font-size: 11px; }
